<%= render partial: 'users/profile_header', locals: {section: 'collections'} %>
<div class=profile_body>
<table class=collections>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collections.each do |collection| %>
  <tr>
    <td><%= collection.name %></td>
    <td>(<%= collection.books.count %> books)</td>
    <td><%= link_to 'Members', collection_memberships_path(collection) %></td>
    <td><%= link_to 'Delete', collection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
