<%= if @user.avatar? then 
    image_tag @user.avatar, class: "bordered rightfloat"
    end %>
<dl class=attribute_list>
<dt>Name</dt>
<dd>  <%= @user.fullname %></dd>

<dt>Nickname</dt>
<dd>  <%= @user.nickname %></dd>

<dt>Email</dt>
<dd>  <%= @user.nickname %></dd>

<dt>Followers</dt>
<dd>  <%= link_to "#{@user.followers.count} users", user_relationships_path(@user)+"#followers" %></dd>

<dt>Following</dt>
<dd>  <%= link_to "#{@user.following.count} users", user_relationships_path(@user)+"#following" %></dd>

</dl>


<br clear=both>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= render partial: "shared/follow_button",  { :user=>@user }
    %>

</div>

