<%= render :partial=>"partials/form_errors", 
:locals => {:objects=> [@book,@edition] } %>
<%= form_for @book do |f| %>
<div class="field">
  <%= f.label :shelf_id %>
  <%= collection_select(:book,:home_shelf_id,@shelves,:id,:name) %>
</div>
<div class="field">
  <%= f.label :collection_id %>
  <%= collection_select(:book,:collection_id,@collections,:id,:name) %>
</div>
<%= fields_for @edition do |e| %>
<div class="field">
  <%= e.label :isbn %>
  <%= e.text_field :isbn, :autofocus=>'true' %>
  <a href="<%= "http://zxing.appspot.com/scan?ret=#{URI::escape(request.url+'?isbn={CODE}')}" %>">
    <%= image_tag  "barcode.png" , 
	:style=>"position: relative; top: 7px; left: 4px",
    :alt=>"Mobile barcode scan"
    %>
  </a>
</div>
<p> &nbsp; </p>
<% [:title,:author,:publisher].each do |name| %>
<div class="field">
  <%= e.label name %>
  <%= e.text_field name %>
</div>
<% end %>
<% end %>
<div class="actions">
  <%= f.submit %>
  <button type=button class=link data-href=<%= books_path() %>>Back</button>
</div>
<% end %>
