<tr>
<td class=check><input type=checkbox name=check[] value=<%= book.id %> /></td>
<td><%= book.home_shelf.name %></td>
<td><%= book.home? ? "" : book.current_shelf.name %></td>
<td><%= link_to "#{book.author}, &ldquo;#{book.title}&rdquo;".html_safe ,book %></td>
<td><%= time_ago_in_words(book.created_at) %> ago</td>
</tr>
