<h1>My Books</h1>


<script>
var shelf_data=<%= @current_user.shelves.to_json.html_safe %>;
var collection_data=<%= @current_user.collections.to_json.html_safe %>;
var book_data=<%= @current_user.all_books.to_json(include: :edition).html_safe %>;
var user_data=<%= @current_user.to_json.html_safe %>;
</script>

<div id=book_manager>
  <div id=leftbar>
    <div id=shelves>
      Shelves
      <!-- backbone view goes here -->
    </div>
    <div id=collections>
      Collections
      <!-- backbone view goes here -->
    </div>
    <div id=owners>
      Owner
    </div>
    <div id=tags>
      Tags
    </div>
  </div>

  <%= form_tag url_for(action: 'organize'),id: 'organize' do %>
 								
  <ul class=toolbar id=toolbar>
    <li>
      <%= collection_select(:reshelve,:shelf_id,@shelves,:id,:name,
	  :prompt=>"Change home shelf") %></li>
    <li>
      <%= collection_select(:reshelve,:current_shelf_id,@shelves,:id,:name,
	  :prompt=>"Change current shelf") %></li>
    <li>
      <%= collection_select(:collection,:collection_id,@collections,:id,:name,:prompt=>"Change
      collection") %></li>
    <li class=right>
      <input type=submit value=Update />
  </ul>
  <p> </p>
  <table id=booklist class=manager style="font-size: 10pt">
    <col class="check"/>
    <col class="where"/>
    <col class="book"/>
    <col class="added"/>
    <col />
    <thead>
      <tr class=header>
	<th id=check>
	  <select id=mark>
	    <option value=title>&#x2713;</option>
	    <option value=all>All</option>
	    <option value=none>None</option>
	    <option value=invert>Invert</option>
	  </select>
	</th>
	<th>Location</th>
	<th>Book</th>
	<th>Added</th>
      </tr>
    </thead>
  <% [].each do |book|  %>
  <%= render :partial=>"row", :locals => {
  :book=>book,:columns=>[:check,:home_location, :current_location,:added] 
  } %>
  <% end %>
</table>

<% end # form %>
<br style="clear: both">
<br />
<p><%= will_paginate @books %></p>
<%= link_to 'New Book', new_book_path %>

<script id="booklist_row_template" type="text/x-template">
  <td class=check><input type=checkbox name=check[] value={{ id }} /></td>
  <td>{{ location }}</td>
  <td><a href="/books/{{ id}}">{{ author }}, &ldquo;{{ title }}&rdquo;</a></td>
  <td class=added>
    Added <abbr class="timeago" title="{{ created_at }}">{{ created_at }}</abbr>
  </td>
  <td class=borrowed>
    Borrowed from {{ lender }}
  </td>

</script>

