<div class="story">
  <div class=dateline><%= l(story.created_at) %></div>
Welcome <%= story.actor.name %> to the  booksh.lv community!  Now you
can 
<%= link_to "set up your profile",story.actor %>, 
<%= link_to "start adding your books and collections",Book %>,  and 
<%= link_to "browse books", editions_path %> that your 
<%= link_to "friends", user_relationships_path(story.actor) %> have added
<br clear=both>
</div>

