<div class="story blocklink" 
     <% if url=story.url then %>
     data-url=<%= url %>
     <% end %>
     >
  <%= if i=story.image then image_tag i end %>
  <h2><%= story.title %></h2>
  <div class=dateline><%= l(story.created_at) %></div>
  <%= story.story %>
  <br clear=both>
</div>
